.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 90%;
    margin: 1rem auto;
}

.container-row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.description{
    text-align: center;
    color: #777;
}

svg{
    .axis, .legend{
        line{
            stroke: #C0C0BB;
        }
    
        .label{
            fill: #635F5D;
        }
    
        .title{
            fill: #635F5D;
            font-size: 1.8rem;
        } 
    }

    .legend{
        text{
            cursor: default;
            font-size: 1.2rem;
        }
    }
}
